@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul.nav li {
  position: relative;
}
ul.nav li:hover > ul {
  max-height: 500px;
  padding: 0.7rem 1rem 0.5rem 2.5rem;
}

ul.nav li > ul {
  position: absolute;
  left: 0;
  width: 200px;
  background-color: #212529;
  list-style: none;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;
}
ul.nav li > ul > li > a::after {
  display: none;
}
ul.nav li > ul > li > a:hover {
  text-decoration: underline;
}
